## 4. Data Cleaning & Transformation

* 4.1 Standardize Column Names

In [1]:
import pandas as pd

# Load your data
df = pd.read_csv("C:\\Users\\student\\Downloads\\DataSet StudentsPerformances.csv")

# Make all column names lowercase, remove extra spaces, and replace spaces with underscores
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

# View the new column names
print(df.columns)

Index(['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

* 4.2 Convert Data Types

In [5]:
# Convert scores to integers
score_cols = ['math_score', 'reading_score', 'writing_score']
df[score_cols] = df[score_cols].astype(int)

# Convert categorical text columns to 'category' type to save memory
cat_cols = ['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']
df[cat_cols] = df[cat_cols].astype('category')

In [11]:

print(df.dtypes)

gender                         category
race/ethnicity                 category
parental_level_of_education    category
lunch                          category
test_preparation_course        category
math_score                        int32
reading_score                     int32
writing_score                     int32
dtype: object

In [10]:

print(df.head())

   gender race/ethnicity parental_level_of_education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test_preparation_course  math_score  reading_score  writing_score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [9]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   category
 1   race/ethnicity               1000 non-null   category
 2   parental_level_of_education  1000 non-null   category
 3   lunch                        1000 non-null   category
 4   test_preparation_course      1000 non-null   category
 5   math_score                   1000 non-null   int32
 6   reading_score                1000 non-null   int32
 7   writing_score                1000 non-null   int32
dtypes: category(5), int32(3)
memory usage: 17.5 KB

* 4.3 Feature Engineering

In [13]:
# Create a total score column by adding all three test scores
df['total_score'] = df['math_score'] + df['reading_score'] + df['writing_score']

# Create an average score column
df['average_score'] = df['total_score'] / 3

# Create a 'pass/fail' flag (e.g., passing if average score is 40 or higher)
df['status'] = df['average_score'].apply(lambda x: 'Pass' if x >= 40 else 'Fail')

* 4.4 Final Validation

In [14]:
# CHECKING NULL VALUES
print(df.isnull().sum())

print(df.head())

print(df.info())

gender                         0
race/ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
total_score                    0
average_score                  0
status                         0
dtype: int64
   gender race/ethnicity parental_level_of_education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test_preparation_course  math_score  reading_score  writing_score  \
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

   total_score  average_score status
0          218      72.666667   Pass
1          247      82.333333   Pass
2          278      92.666667   Pass
3          148      49.333333   Pass
4          229      76.333333   Pass
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   category
 1   race/ethnicity               1000 non-null   category
 2   parental_level_of_education  1000 non-null   category
 3   lunch                        1000 non-null   category
 4   test_preparation_course      1000 non-null   category
 5   math_score                   1000 non-null   int32
 6   reading_score                1000 non-null   int32
 7   writing_score                1000 non-null   int32
 8   total_score                  1000 non-null   int32
 9   average_score                1000 non-null   float64
 10  status                       1000 non-null   object
dtypes: category(5), float64(1), int32(4), object(1)
memory usage: 37.0+ KB
None

In [17]:
df.describe()

       math_score  reading_score  writing_score  total_score  average_score
count  1000.00000    1000.000000    1000.000000  1000.000000    1000.000000
mean     66.08900      69.169000      68.054000   203.312000      67.770667
std      15.16308      14.600192      15.195657    42.771978      14.257326
min       0.00000      17.000000      10.000000    27.000000       9.000000
25%      57.00000      59.000000      57.750000   175.000000      58.333333
50%      66.00000      70.000000      69.000000   205.000000      68.333333
75%      77.00000      79.000000      79.000000   233.000000      77.666667
max     100.00000     100.000000     100.000000   300.000000     100.000000